<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListUserPermissionsTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListUserPermissionsEmpty}" rendered="#{userPermissionsController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{userPermissionsController.items.rowCount > 0}">
                    <h:outputText value="#{userPermissionsController.pagination.pageFirstItem + 1}..#{userPermissionsController.pagination.pageLastItem + 1}/#{userPermissionsController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{userPermissionsController.previous}" value="#{bundle.Previous} #{userPermissionsController.pagination.pageSize}" rendered="#{userPermissionsController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{userPermissionsController.next}" value="#{bundle.Next} #{userPermissionsController.pagination.pageSize}" rendered="#{userPermissionsController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{userPermissionsController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUserPermissionsTitle_userPermissionsPK_idStudy}"/>
                            </f:facet>
                            <h:outputText value="#{item.userPermissionsPK.idStudy}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUserPermissionsTitle_userPermissionsPK_idUser}"/>
                            </f:facet>
                            <h:outputText value="#{item.userPermissionsPK.idUser}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUserPermissionsTitle_admin}"/>
                            </f:facet>
                            <h:outputText value="#{item.admin}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUserPermissionsTitle_reading}"/>
                            </f:facet>
                            <h:outputText value="#{item.reading}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUserPermissionsTitle_writing}"/>
                            </f:facet>
                            <h:outputText value="#{item.writing}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{userPermissionsController.prepareView}" value="#{bundle.ListUserPermissionsViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{userPermissionsController.prepareEdit}" value="#{bundle.ListUserPermissionsEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{userPermissionsController.destroy}" value="#{bundle.ListUserPermissionsDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{userPermissionsController.prepareCreate}" value="#{bundle.ListUserPermissionsCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListUserPermissionsIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
