<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditStudyTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditStudyLabel_id}" for="id" />
                    <h:inputText id="id" value="#{studyController.selected.id}" title="#{bundle.EditStudyTitle_id}" required="true" requiredMessage="#{bundle.EditStudyRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.EditStudyLabel_description}" for="description" />
                    <h:inputText id="description" value="#{studyController.selected.description}" title="#{bundle.EditStudyTitle_description}" />
                    <h:outputLabel value="#{bundle.EditStudyLabel_name}" for="name" />
                    <h:inputText id="name" value="#{studyController.selected.name}" title="#{bundle.EditStudyTitle_name}" />
                </h:panelGrid>
                <h:commandLink action="#{studyController.update}" value="#{bundle.EditStudySaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditStudyViewLink}"/>
                <br />
                <h:commandLink action="#{studyController.prepareList}" value="#{bundle.EditStudyShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditStudyIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
