<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewStudyTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewStudyLabel_id}"/>
                    <h:outputText value="#{studyController.selected.id}" title="#{bundle.ViewStudyTitle_id}"/>
                    <h:outputText value="#{bundle.ViewStudyLabel_description}"/>
                    <h:outputText value="#{studyController.selected.description}" title="#{bundle.ViewStudyTitle_description}"/>
                    <h:outputText value="#{bundle.ViewStudyLabel_name}"/>
                    <h:outputText value="#{studyController.selected.name}" title="#{bundle.ViewStudyTitle_name}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{studyController.destroyAndView}" value="#{bundle.ViewStudyDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewStudyEditLink}"/>
                <br />
                <h:commandLink action="#{studyController.prepareCreate}" value="#{bundle.ViewStudyCreateLink}" />
                <br />
                <h:commandLink action="#{studyController.prepareList}" value="#{bundle.ViewStudyShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewStudyIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
