<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditSessionDocumentsTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditSessionDocumentsLabel_idDoc}" for="idDoc" />
                    <h:inputText id="idDoc" value="#{sessionDocumentsController.selected.idDoc}" title="#{bundle.EditSessionDocumentsTitle_idDoc}" required="true" requiredMessage="#{bundle.EditSessionDocumentsRequiredMessage_idDoc}"/>
                    <h:outputLabel value="#{bundle.EditSessionDocumentsLabel_description}" for="description" />
                    <h:inputText id="description" value="#{sessionDocumentsController.selected.description}" title="#{bundle.EditSessionDocumentsTitle_description}" />
                    <h:outputLabel value="#{bundle.EditSessionDocumentsLabel_name}" for="name" />
                    <h:inputText id="name" value="#{sessionDocumentsController.selected.name}" title="#{bundle.EditSessionDocumentsTitle_name}" />
                    <h:outputLabel value="#{bundle.EditSessionDocumentsLabel_path}" for="path" />
                    <h:inputText id="path" value="#{sessionDocumentsController.selected.path}" title="#{bundle.EditSessionDocumentsTitle_path}" />
                    <h:outputLabel value="#{bundle.EditSessionDocumentsLabel_idSession}" for="idSession" />
                    <h:selectOneMenu id="idSession" value="#{sessionDocumentsController.selected.idSession}" title="#{bundle.EditSessionDocumentsTitle_idSession}" >
                        <f:selectItems value="#{sessionController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{sessionDocumentsController.update}" value="#{bundle.EditSessionDocumentsSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditSessionDocumentsViewLink}"/>
                <br />
                <h:commandLink action="#{sessionDocumentsController.prepareList}" value="#{bundle.EditSessionDocumentsShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditSessionDocumentsIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
