<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListSessionDocumentsTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListSessionDocumentsEmpty}" rendered="#{sessionDocumentsController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{sessionDocumentsController.items.rowCount > 0}">
                    <h:outputText value="#{sessionDocumentsController.pagination.pageFirstItem + 1}..#{sessionDocumentsController.pagination.pageLastItem + 1}/#{sessionDocumentsController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{sessionDocumentsController.previous}" value="#{bundle.Previous} #{sessionDocumentsController.pagination.pageSize}" rendered="#{sessionDocumentsController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{sessionDocumentsController.next}" value="#{bundle.Next} #{sessionDocumentsController.pagination.pageSize}" rendered="#{sessionDocumentsController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{sessionDocumentsController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSessionDocumentsTitle_idDoc}"/>
                            </f:facet>
                            <h:outputText value="#{item.idDoc}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSessionDocumentsTitle_description}"/>
                            </f:facet>
                            <h:outputText value="#{item.description}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSessionDocumentsTitle_name}"/>
                            </f:facet>
                            <h:outputText value="#{item.name}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSessionDocumentsTitle_path}"/>
                            </f:facet>
                            <h:outputText value="#{item.path}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSessionDocumentsTitle_idSession}"/>
                            </f:facet>
                            <h:outputText value="#{item.idSession}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{sessionDocumentsController.prepareView}" value="#{bundle.ListSessionDocumentsViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{sessionDocumentsController.prepareEdit}" value="#{bundle.ListSessionDocumentsEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{sessionDocumentsController.destroy}" value="#{bundle.ListSessionDocumentsDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{sessionDocumentsController.prepareCreate}" value="#{bundle.ListSessionDocumentsCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListSessionDocumentsIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
